Flask==3.1.0
Flask-SQLAlchemy==3.1.1
SQLAlchemy==2.0.51
passlib==1.7.4
bcrypt==4.2.1
python-dotenv==1.0.1
flask-jwt-extended
Flask-Migrate==4.1.0
pytest
pydantic
Flask-Limiter==4.1.1
flask-cors
requests
pandas
openpyxl
streamlit
langchain
langchain-community
langchain-openai
langchain-text-splitters
python-dotenv